.hero-section{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hs-piano-container{
    display: flex;
    width: fit-content;
    height: fit-content ;
    position: relative;
}

.hs-white-buttons-container{
    display: flex;
    width: 100%;
    margin: 0 35px;
    gap: 20px;
    z-index: 1;
}
.piano-button {
    width: 85px;
    height: 561px;
    border-radius: 8px;
    border: none;
    background: inear-gradient(0deg, #ffffff, #ffffff);
    transition: transform 0.5s ease, background 0.5s ease;
    backface-visibility: hidden;        
    will-change: transform, background;
    box-shadow: 16px 24px 8px rgba(0 ,0 ,0 ,0.25) ;
  }
  .active {
    background: linear-gradient(0deg, #8FA9C2, #E9E9E9);
    transform: rotateY(30deg);
  }

.hs-black-keys-container{
    position:absolute;
    display: flex;
    justify-content: center;
    gap: 150px;
    top: -40px;
    width: 100%;
    z-index: 3;
}
.blk-letter{
    /* background: linear-gradient(0deg,white,rgba(255, 255, 255, 0.412));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
    color: rgba(255, 255, 255, 0.492);
    height: fit-content ;
    line-height: 1;
    font-size:20px ;
    font-family: 'jannat';
}
.hs-three-black-keys-container{
    display: flex;
    gap: 32px;
    width: fit-content;
  
}
.black-key{
    display: flex;
    justify-content: center;
    background-color: black;
    height: 324px;
    width: 65px;
    border-radius: 12px;
    border: none;
    box-shadow: 9px 13px 7px rgba(0 ,0 ,0 ,0.15);
}

.hs-letters-container{
    display: flex;
    gap: 85px;
}
.hs-letter{
    font-size: 30px;
    font-family: 'jannat';
    background: linear-gradient(0deg, #41688D60, #eeeeee);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* tones image */
.hs-tone-container{
    position: absolute;
    /* background-color: black; */
    top: 0;
    width: 100%;
    z-index: 0;
    display: flex;
    gap: 80px;
    overflow: visible;
}
#tone-A{
    margin-left: 20px;
}
.tone-image{
    opacity: 0;
}
/* }so you can fit all the tones perfectly */


/* ....animation.... */
@keyframes moveUp{
    0%{
        transform:translateY(0);
        opacity: 100%;
    }
    60%{
        opacity: 100%;
    }
    100%{
        transform: translateY(-100px);
        opacity: 0;
    }
}
.move-up{
    animation:moveUp 1s ease;
}