.home-input-section{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 36px;
    padding-bottom: 60px;
}
.input-text{
    width: 724px;
    height: 50px;
    border-radius: 12px 0 0 12px;
    font-size: 20px;
    padding: 0 12px;
    background-color: #E9E9E940;
    border: solid ;
    border-width: 2px 0px 2px 2px;
    border-color: #E9E9E9;
    color: white;
}
.hi-submit{
    height: 54px;
    width: 41px;
    background-color: #E9E9E940;
    border: solid;
    border-width: 2px;
    border-color: #E9E9E9;
    border-radius: 0 12px 12px 0;
}
.input-text:focus{
    outline: none;
}
.input-container{
    display: flex;
    justify-content: top;
}
.text-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
}
.hi-alert{
    color: #E9E9E9;
    font-family: 'jannat';
}
