html{
    background-color: #41688D;
}
body{
    margin: 0;
}
@font-face {
    font-family: shantell;
    src: url('./assets/fonts/ShantellSans-VariableFont_BNCE\,INFM\,SPAC\,wght.ttf') format('truetype');
}